canvas {
  width: 750px;
  height: 1050px;
  background-size: 100% 100%;
}
.output {
  font-size: 22px;
  font-weight: 600;
  margin-top: 2rem;
  white-space: pre;
  overflow: auto;
}
.removebtn {
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.removebtn:hover {
  color: rgb(206, 22, 22);
}
